{% extends 'index.html' %}

{% block title %}
Add Blog
{% endblock title %}
{% block style %}
body{
    background-color: #f8f9fa;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
{% endblock style %}

{% block content %}
<div class="container d-flex flex-column justify-content-center  align-items-center">
    <h2>Add Blog</h2>
<form class="w-50" method="post" action="/blog/add/">
    {% csrf_token %}
    <div class="form-outline mb-4">
        <label class="form-label" for="name">Author's Name</label>
      <input type="text" id="name" name="name" class="form-control" />
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="title">Blogs Title</label>
      <input type="text" id="title" name="title" class="form-control" />
    </div>
  
    <!-- Message input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="desc">Description</label>
      <textarea class="form-control" id="desc" name="desc" rows="4"></textarea>
    </div>
  
    <!-- Checkbox -->
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block ">Send</button>
    <a href="/blog/" class=" text-center">Go back to home</p>
  </form>
  </div>
{% endblock content %}