{% extends 'index.html' %}
{% block title %}
Blog
{% endblock title %}
{% block style %}
body{
    background-color:  black;
    height:100vh;
    width:100vw;
}
{% endblock style %}

{% block content %}

<div class="container vh-100 d-flex align-items-center ">

      <div class="d-flex bg-light overflow-hidden align-items-center" style="max-height:500px;">
        <img class="card-img w-50" src="https://source.unsplash.com/random/900×700/?technology,computer" alt="Image">
       <div> <div class="card-body">
          <h4 class="card-title">{{blog.title}}</h4>
          <p class="card-text">{{blog.desc}}</p>
          <p>By {{blog.name}} </p>
          <a href="/blog" class="btn btn-info zoom" >Home</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="date">{{blog.date}}
          </div>
          <div class="views">
             <i class="far fa-eye"></i> {{blog.views}} views
          </div>
           
        </div>
      </div>
  </div>
</div>


{% endblock content %}