{% extends 'index.html' %}

{% block title %}
Add Blog
{% endblock title %}
{% block style %}
body {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.addblog-container {
  max-width: 600px;
  margin: auto;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}
.addblog-heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
}
.form-label {
  font-weight: 500;
}
.form-control {
  border-radius: 6px;
}
.addblog-btn {
  border-radius: 6px;
}
.addblog-btn:hover {
  background-color: #007bff;
}
.back-link {
  text-align: center;
  margin-top: 10px;
}
{% endblock style %}

{% block content %}

<div class="container addblog-container">
  <h2 class="addblog-heading">Edit Blog</h2>
  <form method="post" action="/blog/edit/{{blog.pk}}" class="w-100">
      {% csrf_token %}
      <div class="form-outline mb-4">
          <label class="form-label" for="name">Author's Name</label>
          <input type="text" id="name" name="name" value="{{blog.name}}" class="form-control" />
      </div>

      <div class="form-outline mb-4">
          <label class="form-label" for="title">Blog Title</label>
          <input type="text" id="title" name="title" value="{{blog.title}}" class="form-control" />
      </div>

      <div class="form-outline mb-4">
          <label class="form-label" for="desc">Description</label>
          <textarea class="form-control" id="desc" name="desc"  rows="4">{{blog.desc}}</textarea>
      </div>

      <button type="submit" class="btn btn-primary btn-block addblog-btn">Submit</button>
  </form>

  <div class="back-link">
      <a href="/blog/">Go back to home</a>
  </div>
</div>

{% endblock content %}