{% extends 'index.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">GoBlogs</h1>
        <p class="lead text-muted">All you need for blogs on single platform. GoBlogs provide you best services and blog platform in the world</p>
        <p>
          <a href="/blog/add/" class="btn btn-primary my-2">Add Blog</a>
          <a href="/logout/" class="btn btn-danger my-2">Log out</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for blog in blogs %}
        <div class="col">
          <div class="card shadow-sm">
        <p class='text-center'>{{blog.desc}}</p>
            <div class="card-body d-flex flex-column align-items-center">
              <p class="card-text">By {{blog.name}}</p>
              <small class="text-muted">Published on <u>{{blog.date}}</u></small>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/blog/{{blog.pk}}/" class="btn btn-sm btn-outline-secondary">View</a>

                  <a href="/blog/edit/{{blog.pk}}/" class="btn btn-sm btn-outline-secondary">Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
       
       
      </div>
    </div>
  </div>
{% endblock content %}