{% extends 'index.html' %}
{% block title %}
Login
{% endblock title %}
{% block style %}
body {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}
.signup-heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
}
.form-label {
  font-weight: 500;
}
.form-control {
  border-radius: 6px;
}
.signup-btn {
  border-radius: 6px;
}
.signup-btn:hover {
  background-color: #007bff;
}
.login-link {
  text-align: center;
  margin-top: 10px;
}
{% endblock style %}

{% block content %}


<div class="container signup-container">
  <h1 class="signup-heading">Sign Up</h1>
  <form method="post" action="/signup/">
      {% csrf_token %}
      <div class="mb-4">
          <label for="name" class="form-label">Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name" />
      </div>
      <div class="mb-4">
          <label for="email" class="form-label">Email address</label>
          <input type="text" id="email" name="email" class="form-control" placeholder="Enter your email" />
      </div>
      <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password" />
      </div>
      <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary btn-block signup-btn">Sign Up</button></div>
  </form>
  <div class="login-link">
      Already have an account? <a href="/login/">Login</a>
  </div>
</div>
{% endblock content %}


